---
import LegalLayout from '../layouts/LegalLayout.astro';
---
<LegalLayout title="Affiliate-Hinweis" description="Transparenz zu Werbe- und Affiliate-Links auf historische-schuhe.de.">
  <p>Damit dieses Portal kostenlos bleibt, finanzieren wir uns über Affiliate-Links. Das bedeutet:</p>
  <ul>
    <li>Manche Links sind mit einem Hinweis als Anzeige oder Affiliate-Link gekennzeichnet.</li>
    <li>Kaufst du über einen solchen Link, erhalten wir vom Händler eine Provision.</li>
    <li>Für dich entstehen dadurch keine Mehrkosten, der Preis bleibt gleich.</li>
  </ul>
  <p>Als Teilnehmer des Amazon-Partnerprogramms verdienen wir an qualifizierten Verkäufen. Unsere redaktionellen Einschätzungen und Empfehlungen bleiben davon unabhängig und sind keine Labortests.</p>
</LegalLayout>
